body{
  margin:8px;  
  background-color:#222;
}

body div:first-child{
  background-color:#fff;
}

textarea {
   resize: none;
}

.content{
  padding:10px;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
  margin-left:0px;
  margin-right:0px;
  border-bottom:1px solid #ddd;
}

.buttons{
  margin-top:4px;
}

.error {
  padding:8px;
  color:#800;
}

.right{
  float:right;
}

.margin-6{
  margin:6px;
}

.padding-plus{
  padding:2px 6px !important;
}

hr {
  margin-top:5px !important;  
  margin-bottom:10px !important;
}

.input-error {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.console {
  margin-top:10px;
  background:#000;
  color:#ccc;
  font-size:1em;
  min-height:400px;
  width:auto;
  margin-left:auto;
  margin-right:auto;
  padding:6px;
  overflow: scroll;
  box-shadow: 0px 0px 3px 1px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 3px 1px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(119, 119, 119, 0.75);
  margin-bottom:15px;
}

.console p{
  padding:0px;
  margin:0px;
  line-height:1em;
}

.console span.white{ color:#fff; }
.console span.gray{ color:#ddd; }
.console span.green{ color: #090; }
.console span.magenta{ color: magenta; }

.label {
  font-size:1em;
  font-weight:normal;
  padding-top:9px;
  padding-bottom:9px;
}

.pri {
  display: inline-block;
  padding-top:10px;
  padding-left:8px;
  margin-right:18px;
  margin-bottom: 0px;
}

.board{
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  padding:6px;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 12px;
}

.board span{
  color:#2f6f9f;  
}

.board button{
  display:none;
  float:right;
  background-color:#fff;
  margin-top: -8px;
  margin-right: -6px;
  border:1px solid #ccc;
  border-top:none;
  border-right:none;
  font-size:0.9em;
  border-radius: 0px 0px 0px 5px;
}

.board button:hover{
  background-color:#337ab7;
  color:#fff;
}

.nav-tabs a{
  color:#ccc !important;  
}

.nav-tabs a:hover{
  color:#222 !important;  
}

.nav-tabs li.active a{
  color:#222 !important;  
}
